
body          { background: #ffffff  url(/intact/search/images/bkg.jpg); color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; margin: 0px; scrollbar-track-color: #ffffff;  scrollbar-arrow-color: #336666;  scrollbar-darkshadow-color: #ffffff; }
.text         { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none}
P             { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none}
li            { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none}
b             { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt;  font-weight: bold;    text-decoration: none}
.italictext   { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; font-style: italic}
.pbold        { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt;  font-weight: bold;    text-decoration: none}
HR { clear: both; margin: 0.3em 0; border: 0px clear; padding: 1px 0 0 0; background-color: #clear; color: #336666; width: 100%}
.whiteheadertext             { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold;  text-decoration: none}

.footer { color: #000000; font-size: 11pt; background-color: transparent; font-family: Arial, verdana, sans-serif; text-decoration: none; font-weight: normal}

td.data    { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: left; vertical-align: top}
td.header  { color: #336666; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold;    text-decoration: none; text-align: left; vertical-align: top}
td.headerdark  { background-color: #003063; color: #003063; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold;    text-decoration: none; text-align: left; vertical-align: top}
td.headerdarkmid  { background-color: #9BBCE3; color: #003063; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold;    text-decoration: none; text-align: left; vertical-align: top}
td.headermid  { background-color: #29619C; color: #003063; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold;    text-decoration: none; text-align: left; vertical-align: top}

td.headerlight  { background-color: #BDDBFC; color: #003063; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold;    text-decoration: none; text-align: left; vertical-align: top}
td.headerlightright  { background-color: #BDDBFC; color: #003063; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold;    text-decoration: none; text-align: right; vertical-align: top}

td.centertop  { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: center; vertical-align: top}
td.lefttop    { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: left; vertical-align: top}
td.righttop   { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: right; vertical-align: top}
td.justifytop    { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: justify; vertical-align: top}

td.centerbot    { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: center; vertical-align: bottom}
td.leftbot      { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: left; vertical-align: bottom}
td.rightbot     { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: right; vertical-align: bottom}
td.justifybot   { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: justify; vertical-align: bottom}

td.centermid    { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: center; vertical-align: middle}
td.leftmid      { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: left; vertical-align: middle}
td.rightmid     { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: right; vertical-align: middle}
td.justifymid   { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: justify; vertical-align: middle}
td.tableCell {
    font-size: 9pt;
    font-family: Arial, verdana, sans-serif;
    text-align: left;
    vertical-align: top;
}

td.leftmenutop     { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: center; vertical-align: top; background-color: #cecece}
td.leftmenubot     { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal;  text-decoration: none; text-align: center; vertical-align: bottom; background-color: #cecece}
.tableresults       {border-bottom: 1px solid #4B9996; border-left: 1px solid #4B9996; border-right: 1px solid #4B9996; border-top: 1px solid #4B9996; border-style: solid; border-color: : #4B9996; background-color: #F1F5F8}

.header               { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 18pt; font-weight: bold;  text-decoration: none;      background-color: #336666}
a.headerlink:link     { color: #336666; font-family: Arial, Helvetica, sans-serif; font-size: 16pt; font-weight: bold;  text-decoration: none}
a.headerlink:visited  { color: #336666; font-family: Arial, Helvetica, sans-serif; font-size: 16pt; font-weight: bold;  text-decoration: none}
a.headerlink:active   { color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: 16pt; font-weight: bold;  text-decoration: underline}
a.headerlink:hover    { color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: 16pt; font-weight: bold;  text-decoration: underline}

a:link { color: #003063; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}
a:visited { color: #003063; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}
a:active { color: #638EB5; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}
a:hover { color: #638EB5; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}

a.highlight:link { color: #003063; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: underline; font-style: italic}
a.highlight:visited { color: #003063; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: underline; font-style: italic}
a.highlight:active { color: #638EB5; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: underline; font-style: italic}
a.highlight:hover { color: #638EB5; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: underline; font-style: italic}

a.tdlink:link { color: #003063; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; text-decoration: underline}
a.tdlink:visited { color: #003063; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; text-decoration: underline}
a.tdlink:active { color: #29619C; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; text-decoration: none}
a.tdlink:hover { color: #29619C; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; text-decoration: none}

a.whitelink:link { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: underline}
a.whitelink:visited { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: underline}
a.whitelink:active { color: #BDDBFC; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none}
a.whitelink:hover { color: #BDDBFC; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none}

.largetext    { color: #336666; font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold;  text-decoration: none}
.middletext    { color: #336666; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold;  text-decoration: none}
.smalltext    { color: #336666; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold;  text-decoration: none}
.smalltextitalic    { color: #336666; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold;  text-decoration: none; font-style: italic}

.form { background-color: #BDDBFC; color: #003063; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold;    text-decoration: none; text-align: center; vertical-align: middle}


.button {text-align: center;}




