<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">


<web-app>

    <display-name>hierarchView - 2D representation of small protein interaction network</display-name>

    <description>
        hierachView is an application which aims to give the user
        to have a graphical 2D representation of small protein
        interaction network.
    </description>

    <distributable/>

    <!-- IntAct Init parameters -->
    <context-param>
        <param-name>uk.ac.ebi.intact.INSTITUTION_LABEL</param-name>
        <param-value>ebi</param-value>
        <description>
            The label of the institution, used to retrieve the Institution object
            if it already exists, or to create a new institution
        </description>
    </context-param>

    <context-param>
        <param-name>uk.ac.ebi.intact.PRELOAD_COMMON_CVOBJECTS</param-name>
        <param-value>false</param-value>
        <description>
            Preload the most common CvObjects on application start, so it is
            faster to retrieve them later
        </description>
    </context-param>

    <context-param>
        <param-name>uk.ac.ebi.intact.READ_ONLY</param-name>
        <param-value>true</param-value>
        <description>
            If read-only, an application cannot persist data in the database
        </description>
    </context-param>

    <!-- Filter to init the IntactContext at the beginning of the request and close the
        transaction at the end -->
    <filter>
        <filter-name>intactFilter</filter-name>
        <filter-class>uk.ac.ebi.intact.webapp.IntactSessionRequestFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>intactFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>intactFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <!-- =================================================================== -->

    <!-- Action Servlet Configuration for Struts -->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>

        <init-param>
            <!-- The name of the Struts property file, '.properties' is automatically added -->
            <param-name>application</param-name>
            <param-value>/config/Struts</param-value>
        </init-param>

        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>

        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- =================================================================== -->

    <!-- Declaration of the Image generator servlet -->
    <servlet>
        <servlet-name>GenerateImage</servlet-name>
        <servlet-class>uk.ac.ebi.intact.application.hierarchview.business.servlet.GenerateImage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GenerateImage</servlet-name>
        <url-pattern>/GenerateImage</url-pattern>
    </servlet-mapping>

    <!-- =================================================================== -->

    <!-- Action Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <!-- =================================================================== -->

    <!-- Define the default session timeout for your application,
         in minutes.  From a servlet or JSP page, you can modify
         the timeout for a particular session dynamically by using
         HttpSession.getMaxInactiveInterval().
      -->
    <session-config>
      <session-timeout>20</session-timeout>    <!-- 20 minutes -->
    </session-config>

    <!-- =================================================================== -->

    <!-- The Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- =================================================================== -->

    <!-- JSTL Tag Library Descriptor  -->
    <taglib>
        <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
        <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://struts.apache.org/tags-html</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://struts.apache.org/tags-bean</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://struts.apache.org/tags-logic</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://ebi.ac.uk/intact/commons</taglib-uri>
        <taglib-location>/WEB-INF/tld/intact.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://www.ebi.ac.uk/intact/hierarch-view</taglib-uri>
        <taglib-location>/WEB-INF/tld/hierarchView.tld</taglib-location>
    </taglib>

</web-app>
