<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <!-- JSON Exporter Servlet -->
    <servlet>
        <servlet-name>jsonExport</servlet-name>
        <servlet-class>uk.ac.ebi.intact.widgets.webapp.servlet.JsonExporter</servlet-class>
    </servlet>

    <!-- Proxy Servlet -->
    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>uk.ac.ebi.intact.widgets.webapp.servlet.Proxy</servlet-class>
    </servlet>

    <!-- GraphML Servlet-->
    <servlet>
        <servlet-name>graphmlDownload</servlet-name>
        <servlet-class>uk.ac.ebi.intact.widgets.webapp.servlet.cytoscape.GraphmlServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->

    <!-- JSON Exporter Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>jsonExport</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>

    <!-- Proxy Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/proxy</url-pattern>
    </servlet-mapping>

    <!-- GraphML Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>graphmlDownload</servlet-name>
        <url-pattern>/graphmlDownload</url-pattern>
    </servlet-mapping>

    <!-- Welcome files -->
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
