/*Search page*/
div.searchDiv {
    padding-left: 20%;
    padding-right: 20%;
}
form input.searchBox
{
    width: 100%;
    height: 20%;
}
form input.searchButton
{
    float: right;
}
/*Results page*/
h2.titleResults
{
    text-align: center;
}
h3.subtitleResults
{
    text-align: center;
}
div.results
{
    border: 2px solid #E3E3E3;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 40px;
    width: 90%;
}
a.complex_name
{
    font-weight: bold;
}
label.complex_description
{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    display: block;
}
label.complex_description:hover
{
    overflow: visible;
    white-space: normal;
    text-align: justify;
}
div.pages
{
    float: right;
}
form input.pageCurrent
{
    width: 30px;
}
span.pageCurrentSpan
{
    float: left;
}
span.pagePrevSpan
{
    float: left;
}
span.pageNextSpan
{
    float: left;
}

/*Details page*/
h2.titleDetails
{
    text-align: center;
}
h3.subtitleDetails
{
    text-align: center;
}
div.details
{
    margin-left: auto;
    margin-right: auto;
    padding: 35px 40px;
    width: 90%;
}
div.section
{
    border: 2px solid #E3E3E3;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 40px;
    width: 90%;
}
label.sectionEntry
{
    font-weight: bold;
}
label.sectionValue
{
    text-align: justify;
}