/*Search page*/

h2.titleHome
{
    text-align: left;
}
h5.subtitleHome
{
    text-align: justify;
    display: block;
}
div.searchDiv
{
    width: 70%;
    float: left;
    display:inline;
    margin-left: 7%;
}
div.searchDivZeroResults
{
    margin-left:7%;
    margin-right:7%;
}
textarea.searchBox
{
    width: 100%;
    height: 20%;
}
form input.searchButton
{
    float: right;
}
form input.clearButton
{
    float: right;
}
div.helpDiv
{
    padding-left: 20%;
    padding-right: 20%;
}
div.exampleDiv
{
    min-width: 220px;
}
form.exampleForm
{
    float: right;
}
/*Results page*/
h2.titleResults
{
    text-align: center;
}
h3.subtitleResults
{
    text-align: center;
}
/*div.results*/
/*{*/
    /*border: 2px solid #E3E3E3;*/
    /*border-radius: 25px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding: 35px 10px;*/
    /*width: 90%;*/
/*}*/
/*div.filters*/
/*{*/
    /*border: 2px solid #E3E3E3;*/
    /*border-radius: 25px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding: 5px 10px;*/
    /*width: 90%;*/
/*}*/
a.complex_name
{
    font-weight: bold;
}
label.complex_ac
{
    float: right;
    font-weight: bold;
}
label.complex_description
{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    display: block;
}
label.complex_description:hover
{
    overflow: visible;
    white-space: normal;
    text-align: justify;
}
div.pages
{
    float: right;
}
form input.pageCurrent
{
    width: 30px;
}
span.pageCurrentSpan
{
    float: left;
}
span.pagePrevSpan
{
    float: left;
}
span.pageNextSpan
{
    float: left;
}

label.filterName
{
    font-weight: bold;
}

/*Details page*/
h2.titleDetails
{
    text-align: center;
}
h3.subtitleDetails
{
    text-align: center;
}
div.details
{
    margin-left: auto;
    margin-right: auto;
    padding: 35px 40px;
    width: 90%;
}
div.section
{
    border: 2px solid #E3E3E3;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 40px;
    width: 90%;
}
label.sectionEntry
{
    font-weight: bold;
}

label.sectionValue
{
    text-align: justify;
    display: block;
}
tr.trHead
{
    font-weight: bold;
    background-color: #70BDBD;
}
p {
    text-align: justify;
}
div.detailsTable
{
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 110px;
}

table.synosymsTable
{
    border: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: none;
}