/*body, td {*/
    /*font-family: Verdana, Helvetica, Arial, sans-serif;*/
    /*font-size: 11px;*/
/*}*/

/*td a:link, td a:visited {*/
    /*color: #333;*/
/*}*/

/*td a:active, td a:hover,  {*/
    /*color: #f30;*/
/*}*/

/*label {*/
    /*font-weight:bold;*/
    /*color: #333;*/
/*}*/

/*.align-left {*/
    /*text-align: left;*/
/*}*/

/*.align-right {*/
    /*text-align: right;*/
/*}*/

/*.align-center, .page-title {*/
    /*text-align: center;*/
/*}*/

/*.page-title {*/
    /*font-size: x-large;*/
    /*font-weight: bold;*/
    /*width: 85%;*/
/*}*/

/*.section-header {*/
    /*font-weight: bold;*/
    /*padding-top: 20px;*/
    /*padding-bottom: 5px;*/
    /*border-bottom: 1px solid #ddd;*/
    /*font-size: medium;*/
    /*width:100%;*/
/*}*/

/*.column-title {*/
    /*color: #666;*/
    /*font-weight: bold;*/
    /*text-align: right;*/
    /*padding-right: 5px;*/

/*}*/

/*.column-value {*/
    /*background: #eee;*/
    /*width:40%;*/
    /*text-align: left;*/
    /*padding-left: 5px;*/
/*}*/

/*.column-status {*/
    /*width:2%;*/
    /*text-align: center;*/
/*}*/

/*.column-title, .column-status {*/
     /*background: #ddd;*/
/*}*/

/*.report {*/
    /*font-family: monospace;*/
    /*color: #444;*/
/*}*/

/*.error-message {*/
    /*color: red;*/
    /*font-weight: bold;*/
/*}*/

/*.odd-row {*/
   /*background: #ddd;*/
/*}*/

/*.event-row {*/
   /*background: #eee;*/
/*}*/

/*.table-header {*/
    /*color: #fff;*/
    /*background-color: #bbb;*/
/*}*/
