.errorContext {
    display: block;
    padding-bottom: 10px;
}

.errorContext a {
    display: block;
}

.errorContextDetails {
    display: none;
}

.unSelectAllRules {
    display: none;
}

.selectAllPsimiRules {
    halign: right;
    float: right;
}
.unSelectAllPsimiRules {
    float: right;
    halign: right;
}

.selectAllMimixRules {
    halign: right;
}
.unSelectAllMimixRules {
    halign: right;
}

.selectAllImexRules {
    halign: right;
}
.unSelectAllImexRules {
    halign: right;
}

#ebiForm table, #ebiForm td, #ebiForm th {
    border-style: none;
    background-color: #f7f7f7;
}

