a img {
    border: 0;
}

/** status **/
.busyStatus {
    right: 0px; top: 0px;
    background-color: red;
    color: white;
    margin: 5px; padding: 3px;
    z-index: 50;

    position: fixed;
}

/** labels **/
.textLabel {
    font-weight: bold;
    white-space: nowrap;
}

/** cols **/
.labelColumn {
    font-weight: bold;
    white-space: nowrap;
    vertical-align: top;
    text-align: right;
    padding-right: 10px;
}

/** interactions table **/
td.notSameThanPrevious {
    border-top: 1px solid #CDCDCD !important;
}

/** interactor table **/
td.compoundStructure {
    background-color:white;
    vertical-align:middle;
    text-align: center;
}


.newInteractionRow {
    border-top: 1px solid #CDCDCD !important;
    border-left: 1px solid #CDCDCD !important;
    border-right: 1px solid #CDCDCD !important;
    border-bottom: 0 !important;
}

.sameInteractionRow {
    border-top: 0 !important;
    border-left: 1px solid #CDCDCD !important;
    border-right: 1px solid #CDCDCD !important;
    border-bottom: 0 !important;
}

.negativeInteractionRow {
    background: #ffdfe5;
}

/** Overriden **/

/** fix to have dialogs that appear wherever we are on the page and not at the top**/
.ui-dialog {
    position:fixed !important;
}

#mainPanels {
    background: white !important;
}

.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td {
    border-top:0 !important;
    border-bottom:0 !important;
}

.ui-datatable table tbody tr.ui-selected{
   background: #ffecc4;
}

.ui-dialog-titlebar {
    padding:  inherit !important;
}

.ui-dialog .ui-dialog-title {
    margin:  0 !important;
}

/* Participant Legend */

.ia-annotation {
    background: #a7cf9b !important;
    color:white;
    padding-right:2px;
    padding-left:2px;
    margin-right:5px;
}

.ia-parameter {
    background: #a1c7c7 !important;
    color:white;
    padding-right:2px;
    padding-left:2px;
    margin-right:5px;
}

.ia-stoichiometry {
    background: #DEC316 !important;
    color:white;
    padding-right:2px;
    padding-left:2px;
    margin-right:5px;
}

.ia-feature {
    background: #ed8585 !important;
    color:white;
    padding-right:2px;
    padding-left:2px;
    margin-right:5px;
}

.ia-confidence {
    background: #5e5e5e !important;
    color:white;
    padding-right:2px;
    padding-left:2px;
    margin-right:5px;
}

.ia-legend-gray {
    background: lightgray !important;
    color:white;
    padding-right:2px;
    padding-left:2px;
    margin-right:5px;
}

.intact_fixedWidth {
    width:650px;
}


.dasty_title
{
display:block;
padding: 2px;
margin-bottom:5px;
background:url(../../dasty/client/img/ebi_bg.gif);
background-repeat:repeat-y;
font-weight:bold;
font-size:120%;
color:#006666;
}