a img {
    border: 0;
}

/** status **/
.busyStatus {
    right: 0px; top: 0px;
    background-color: red;
    color: white;
    margin: 5px; padding: 3px;
    z-index: 50;

    position: fixed;
}

/** interactions table **/
td.notSameThanPrevious {
    border-top: 1px solid #CDCDCD !important;
}

/** p:tabViewer **/

.yui-skin-sam .yui-navset .yui-nav {
}

.yui-skin-sam .yui-navset .yui-nav a {
}

.yui-skin-sam .yui-navset .yui-nav a:hover {
}

.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a:focus,
.yui-skin-sam .yui-navset .yui-nav .selected a:hover {
    /*background: #FFFFFF;*/
}

.yui-skin-sam .yui-navset .yui-nav .disabled a,  
.yui-skin-sam .yui-navset .yui-nav .disabled a:focus,
.yui-skin-sam .yui-navset .yui-nav .disabled a:hover{
    background: #EEEEEE;
    color: #999999;
}

.yui-skin-sam .yui-navset .yui-content {
    background: #FFFFFF;
    border-color: #FFFFFF;
}


.yui-skin-sam .yui-panel .bd{
    background: #FFFFFF;
    border-color: #000000;
    height: 150px;
    /*color:#CCCCCC;*/
}

.yui-skin-sam .yui-panel .hd {
    /*background: url(../images/dialoghd.gif);*/
    /*border-color : #000000;*/
    /*color: #FFFFFF;*/
}

.yui-skin-sam .yui-panel-container.shadow .underlay {
    background-color: #333333;
    bottom:-7px;
    left: 7px;
    opacity:0.5;
    position:absolute;
    right:-7px;
    top:7px;
}

.yui-skin-sam .container-close {
    /*background: url(../images/dialogclose.png) no-repeat;*/
}