/*

	Colour palette: EMBL Petrol
	Details: Accented Analogic from ColourSchemeDesigner
	         http://colorschemedesigner.com/#3i61TnBpxw0w0

*/

 /*

#####  Color Palette by Color Scheme Designer
#####  Palette URL: http://colorschemedesigner.com/#0061T00i4pBpB
#####  Color Space: RGB;



*** Primary Color:

var. 1 = #909090 = rgb(144,144,144)
var. 2 = #737373 = rgb(115,115,115)
var. 3 = #683E3E = rgb(104,62,62)
var. 4 = #BCBCBC = rgb(188,188,188)
var. 5 = #BCBCBC = rgb(188,188,188)

*** Secondary Color A:

var. 1 = #909090 = rgb(144,144,144)
var. 2 = #737373 = rgb(115,115,115)
var. 3 = #68513E = rgb(104,81,62)
var. 4 = #BCBCBC = rgb(188,188,188)
var. 5 = #BCBCBC = rgb(188,188,188)

*** Secondary Color B:

var. 1 = #737373 = rgb(115,115,115)
var. 2 = #5C5C5C = rgb(92,92,92)
var. 3 = #533245 = rgb(83,50,69)
var. 4 = #ABABAB = rgb(171,171,171)
var. 5 = #ABABAB = rgb(171,171,171)

*** Complementary Color:

var. 1 = #737373 = rgb(115,115,115)
var. 2 = #5C5C5C = rgb(92,92,92)
var. 3 = #325332 = rgb(50,83,50)
var. 4 = #ABABAB = rgb(171,171,171)
var. 5 = #ABABAB = rgb(171,171,171)


#####  Generated by Color Scheme Designer (c) Petr Stanicek 2002-2010

*/

/* Color
===================================================*/

/* Color
===================================================*/

/* These style rules will over-ride the core EBI styles and apply
    your custom colour palette in a consistent manner */

/* Links */
/*a:link,*/
/*a:visited { border-bottom-color: #909090; }*/

/*a:hover,*/
/*a:focus,*/
/*a:active {*/
    /*color: #909090;*/
    /*border-bottom: 1px solid #909090;*/
/*}*/

/*a.special:hover,*/
/*a.special:focus,*/
/*a.special:active {*/
    /*color:#909090;*/
    /*border-bottom: 3px double #909090;*/
/*}*/


/*a:link { color: #68513E; }*/

/*a:hover,*/
/*a:focus,*/
/*a:active { color: #533245; }*/

/*a.special { background-color: #ABABAB; }*/


 /*Headings */

/*h1 { color: #909090; }*/

/*h2 { color: #5C5C5C; }*/

/*h1 a:link,*/
/*h2 a:link,*/
/*h3 a:link,*/
/*h4 a:link,*/
/*h5 a:link,*/
/*h6 a:link,*/
/*h1 a:visited,*/
/*h2 a:visited,*/
/*h3 a:visited,*/
/*h4 a:visited,*/
/*h5 a:visited,*/
/*h6 a:visited {*/
    /*border-bottom-color: #909090;*/
/*}*/


 /*Table heading cells */
/*th { background-color: #737373; }*/


 /*Form submission button */
/*input.submit {*/
     /*colours */
    /*color: #fff;*/
    /*text-shadow: #683E3E 1px 1px;*/
    /*border-top: 1px solid #BCBCBC;*/
    /*border-left: 1px solid #BCBCBC;*/
    /*border-right: 1px solid #683E3E;*/
    /*border-bottom: 1px solid #683E3E;*/

    /*background-image: -moz-linear-gradient(top, #909090, #737373);*/
    /*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ccc),color-stop(1, #737373));*/
    /*background-image: -webkit-linear-gradient(#909090, #737373);*/
    /*background-image: linear-gradient(top, #909090, #737373);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#909090', EndColorStr='#737373');*/
/*}*/

/* Define the basic colour your local masthead */
/*div#local-masthead { background-color: #BCBCBC; }*/

/* Define the basic colour your local masthead */
/*div#local-masthead { background-color: #eef5f5; }*/

/* We only change the colour of the local master-head to avoid changes in other colours */
div#local-masthead {
    background-image: -moz-linear-gradient(top, #c8dede, #0e5353);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #c8dede),color-stop(1, #0e5353));
    background-image: -webkit-linear-gradient(#c8dede, #0e5353);
    background-image: linear-gradient(top, #c8dede, #0e5353);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c8dede', EndColorStr='#0e5353');}


/* Colour the faux-underline for local menu items */
/*div#local-masthead ul li a:hover,*/
/*div#local-masthead ul li a:focus,*/
/*div#local-masthead ul li a:active {*/
    /*border-bottom: 3px solid #909090;*/
/*}*/

/* end */
