body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: Small;
}

.verticalTop {
    vertical-align: top;
}

.intact-infoPanel {
   background-color:#a7cf9b;
}

.intact-warnPanel {
    background-color:#ffd98f;
}

.intact-errorPanel {
    background-color:#f4b6b6;
}

.intact-notSavedPanel {
    display: block;
    opacity: 0.8;
    position: fixed;
    top:auto;
    background-color:#FFFFCC;
    bottom: 0;
    z-index: 2000;
    border:3px solid darkorange;
    font-weight: bold;
    text-align: center;
    width:98%
}

.intact-userPanel {
    float: right;
    padding: 5px;
    border: 1px solid #a7cf9b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #deebeb;
}