body,
input,
textarea,
select,
a,
span,
table,
td {
   font-family:helvetica,"trebuchet MS",arial,sans-serif;
   font-size:9pt;
}

a img {
    border: 0;
}

a {
   font-weight: bold;
    text-decoration: none;
    color: #0074c7;
}

a:hover {
    text-decoration: underline;
}

/** Custom classes **/
.code {
    font-family: monospace, "Courier";
    font-weight: bold;
}

.label, .value {
border-right:0 none !important;
}

.verticalTop {
    vertical-align: top;
}

.intact-new {
    color:blue;
}

.intact-deleted, .intact-deleted td span {
    color:red;
    text-decoration:line-through
}

.inner-table,
.inner-table tr,
.inner-table th,
.inner-table td {
    border-width:  0 !important;
}



.intact-panelMessage-ok {
   background-color:#a7cf9b;
}

.intact-panelMessage-info {
   background-color:#bde5f8;
}

.intact-panelMessage-warn {
    background-color:#ffd98f;
}

.intact-panelMessage-error {
    background-color:#f4b6b6;
}

.intact-panelMessage-ok, .intact-panelMessage-info, .intact-panelMessage-warn, .intact-panelMessage-error {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid gray;
}

.intact-notSavedPanel {
    opacity: 0.8;
    position: fixed;
    top:auto;
    background-color: #ffd98f;
    bottom: 18px;
    z-index: 2000;
    border:3px solid #feba12;
    font-weight: bold;
    text-align: center;
    width:98%;
}

.top-bar {
    background-color: #555555;
    color: white;
    height: 25px;
    width: 100%;
    padding-top: 3px;
    position: fixed;
    z-index: 10;
    min-width: 800px;
}

.top-bar a,
.top-bar span{
    /*font-weight: bold;*/
    color: white;
    text-decoration: none;
    font-size: 11pt;
    font-family: helvetica;
    font-weight: normal;
}


.top-bar a:hover {
    text-decoration: underline;
}

.top-bar-selected {
    color: white !important;
    font-weight: bold !important;
}

.top-menu-right {
    float: right;
}

.top-bar ul{
    list-style: none;
    display: inline;
    padding-left: 0px;
}

.top-bar ul li{
    list-style: none;
    display: inline;
    border-right: 1px #999 solid;
    padding-right: 5px;
    padding-left: 5px;
}

.top-bar-menu a,
.top-bar-menu span,
.top-bar-menu img {
    vertical-align: top;
}
.top-title a {
    font-size: 11pt;
    font-weight: bold;
}

.top-title-details a {
    font-size: 9pt;
}

.subTitle {
    color: #e65555;
}

.subTitle-text {
    color: #666666;
}

.top-search {
    float: right;
    margin-right: 0;
    margin-top: 10px;
}

.top-actions {
    text-align: right;
    border: 1px solid #BFBFBF;
    border-left: 0;
    color: #222222;
    padding-top: 1px;
    height: 29px;
    min-width: 400px;
}

#menu-section {
    min-width: 800px;
}

#menubar {
    float:left;
    width: 50%;
    display: block;
    min-width: 400px;
}

.footer-bar {
    background-color: #666666;
    bottom: 0;

    padding-left: 10px;
    position: fixed;
    top:auto;
    width:100%;
    z-index: 2000;
}

.footer-bar, .footer-bar a {
   color: white;
    text-decoration: none;
}

.footer-bar a:hover {
   color: yellow;
    text-decoration: underline;
}

.intact-disabled {
    color: #999999;
}

.intact-tableBasicForm td.firstCell {
    vertical-align: top;
    text-align: right;
}

.intact-userPanel {
    float: right;
    padding: 5px;
    border: 1px solid #a7cf9b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #deebeb;
}

.intact-auditPanel {
    font-size:7pt;
    float: right;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #feba12;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 5px 5px #999;
    background-color: #f8f8ff;
    z-index:200;
}

.intact-auditPanel td.title {
    font-weight:bold;
}

.intact-feedback {
    position: fixed;
    float: right;
    padding-top: 180px;
    margin-left:97%;
    z-index: 2001;
}

#intact-blockingDiv {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    width:100%;
    height: 100%;
    opacity: 0.2;
    background-color: black;
}

.intact-new {
    color:blue;
}

.intact-deleted {
    color:red;
    text-decoration:line-through
}

.intact-buttonBar {
    width:100%;
    background-color:#fff8dc;
    padding: 2px;
    text-align:left;
}

.important-button {
    background: #e65555 !important;
    color:white !important;
}

.important-button-alt {
    background: #feba12 !important;
    color:white !important;

}

.important-button-good {
    background: #84bc73 !important;
    color:white !important;

}

.important-button-bad {
    background: #feba12 !important;
    color:white !important;

}

.important-button,
.important-button-alt,
.important-button-good,
.important-button-bad {
    font-weight: bold !important;
    font-family: helvetica;
    font-size: 11pt;
    font-variant: small-caps;
}


.interaction-item {
    margin-top: 15px;
    margin-bottom: 7px;
}

/** dialogs **/
.dialogButtonBar {
    width:100%;
    background-color:#fff8dc;
    padding: 2px;
    text-align:right;
    border-top: 1px solid #9da4b5
}


/** picklist **/
.ui-picklist-source, .ui-picklist-target {
    height:100px;
    width:250px;
}

.ia-accepted {
   background: #dcecd7 !important;
}

.ia-not-accepted {
   /*background: #f8cfcf !important;*/
}

.ia-to-be-reviewed {
    background: #f8cfcf !important;
   /*/background: #fafad2 !important;*/
}

.ia-rejected {
    background: #f8cfcf !important;
}

.ia-corrected {
    background: #ffecc4 !important;
}


/** dataTable **/
.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td {
    padding: 4px 4px 4px 4px !important;
}


/** menu **/
.wijmo-wijmenu {
    border-radius: 0;
    padding: 0;
    border-right: 0;
}