body,
input,
textarea,
select,
a,
span {
   font-family:helvetica,"trebuchet MS",arial,sans-serif;
    font-size:9pt;
}

a img {
    border: 0;
}



/** Custom classes **/
.label, .value {
border-right:0 none !important;
}

.verticalTop {
    vertical-align: top;
}

.intact-new {
    color:blue;
}

.intact-deleted {
    color:red; text-decoration:line-through
}

.intact-infoPanel {
   background-color:#a7cf9b;
}

.intact-warnPanel {
    background-color:#ffd98f;
}

.intact-errorPanel {
    background-color:#f4b6b6;
}

.intact-infoPanel, .intact-warnPanel, .intact-errorPanel {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid gray;
}

.intact-notSavedPanel {
    display: block;
    opacity: 0.8;
    position: fixed;
    top:auto;
    background-color: #ffd98f;
    bottom: 0;
    z-index: 2000;
    border:3px solid #feba12;
    font-weight: bold;
    text-align: center;
    width:98%
}

.intact-disabled {
    color: #999999;
}

.intact-tableBasicForm td.firstCell {
    vertical-align: top;
    text-align: right;
}

.intact-userPanel {
    float: right;
    padding: 5px;
    border: 1px solid #a7cf9b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #deebeb;
}

.intact-auditPanel {
    font-size:7pt;
    float: right;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #feba12;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 5px 5px #999;
    background-color: #f8f8ff;
    z-index:200;
}

.intact-auditPanel td.title {
    font-weight:bold;
}

.intact-feedback {
    position: fixed;
    float: right;
    padding-top: 180px;
    margin-left:97%;
    z-index: 2001;
}

.intact-new {
    color:blue;
}

.intact-deleted {
    color:red;
    text-decoration:line-through
}

.intact-buttonBar {
    width:100%;
    background-color:#fff8dc;
    padding: 2px;
    text-align:left;
}

/** dialogs **/
.dialogButtonBar {
    width:100%;
    background-color:#fff8dc;
    padding: 2px;
    text-align:right;
    border-top: 1px solid #9da4b5
}


/** picklist **/
.ui-picklist-source, .ui-picklist-target {
    height:100px;
    width:250px;
}

.ia-accepted {
   background: #dcecd7 !important;
}

.ia-not-accepted {
   background: #f8cfcf !important;
}

