<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Health check</display-name>

    <filter>
        <filter-name>HealthFilter</filter-name>
        <filter-class>uk.ac.ebi.intact.healthcheck.HealthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HealthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Health check Servlet -->
    <servlet>
        <servlet-name>healthcheck</servlet-name>
        <servlet-class>uk.ac.ebi.intact.healthcheck.HealthCheckServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>healthcheck</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

</web-app>
